@font-face {
  font-family: 'play';
  font-weight: 700;
  src: url('../fonts/play-bold.woff') format("woff");
}

@font-face {
  font-family: 'inter';
  font-weight: 600;
  src: url('../fonts/inter-semibold.woff') format("woff");
}

@font-face {
  font-family: 'inter';
  font-weight: 500;
  src: url('../fonts/inter-medium.woff') format("woff");
}

@font-face {
  font-family: 'inter';
  font-weight: 400;
  src: url('../fonts/inter-regular.woff') format("woff");
}

.test {
  margin: 80px 0;
}

.test p {
  margin: 0 0 20px;
}

.play-700 {
  font-family: 'play', sans-serif;
  font-size: 64px;
  font-weight: 400;
}

.inter {
  font-family: 'inter', sans-serif;
  font-size: 20px;
}

.inter-600 {
  font-weight: 600;
}

.inter-500 {
  font-weight: 500;
}

.inter-400 {
  font-weight: 400;
}
