:root {
  --font-1: 'play', sans-serif;
  --font-2: 'inter', sans-serif;
  --color-1: #871da1;
  --color-2: #9849ad;
  --color-3: #6d0e84;
  --color-4: #fff;
}

@font-face {
  font-family: 'play';
  font-weight: 700;
  src: url('../fonts/play-bold.woff') format("woff");
}

@font-face {
  font-family: 'inter';
  font-weight: 600;
  src: url('../fonts/inter-semibold.woff') format("woff");
}

@font-face {
  font-family: 'inter';
  font-weight: 500;
  src: url('../fonts/inter-medium.woff') format("woff");
}

@font-face {
  font-family: 'inter';
  font-weight: 400;
  src: url('../fonts/inter-regular.woff') format("woff");
}

.body {
  min-width: 375px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-2 {
  margin: 0;
  font-family: var(--font-1);
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 1.2px;
  color: var(--color-4);
}

.title-3 {
  margin: 0;
  font-family: var(--font-1);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.1px;
  color: var(--color-4);
}

.text-1 {
  margin: 0;
  font-family: var(--font-2);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.2px;
  color: var(--color-4);
}

.button-1 {
  display: inline-block;
  padding: 16px 32px;
  font-family: var(--font-2);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: ease 100ms;
  outline: none;
}

.button-1--a {
  color: var(--color-1);
  background: var(--color-4);
}

.button-1--a:hover,
.button-1--a:focus {
  color: var(--color-4);
  background: var(--color-2);
}

.button-1--a:active {
  color: var(--color-4);
  background: var(--color-3);
}

@media(max-width: 768px) {
  .container {
    padding: 0 30px;
  }

  .text-1 {
    font-size: 14px;
    line-height: 20px;
  }
}

@media(max-width: 375px) {
  .container {
    padding: 0 20px;
  }

  .title-2 {
    font-size: 24px;
  }

  .title-3 {
    font-size: 20px;
  }
}

/* whom */

.whom {
  padding: 40px 0;
  font-family: var(--font-2), sans-serif;
  color: var(--color-4);
  background: #000;
}

.whom__title-2 {
  margin: 0 0 40px;
}

.whom__title-3 {
  margin: 0 0 11px;
}

.whom__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.whom__item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 240px;
  padding: 24px 24px 32px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

.whom__item-text-1 {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.whom__item-text-2 {
  position: relative;
  z-index: 1;
  margin: auto 0 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

.whom__item:nth-child(1) .whom__item-text-2 {
  width: 65%;
}

.whom__item:nth-child(2) .whom__item-text-2,
.whom__item:nth-child(3) .whom__item-text-2 {
  width: 70%;
}

.whom__item-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media(max-width: 768px) {
  .whom__list {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .whom__item {
    display: block;
    min-height: 194px;
  }

  .whom__item-text-1 {
    margin: 0 0 25px;
  }

  .whom__item:nth-child(1) .whom__item-text-1 {
    width: 62%;
  }

  .whom__item:nth-child(2) .whom__item-text-1 {
    width: 56%;
  }

  .whom__item:nth-child(3) .whom__item-text-1 {
    width: 64%;
  }

  .whom__item:nth-child(1) .whom__item-text-2 {
    width: 60%;
  }

  .whom__item:nth-child(2) .whom__item-text-2,
  .whom__item:nth-child(3) .whom__item-text-2 {
    width: 58%;
  }

  .whom__item-img {
    right: 8%;
    bottom: 50%;
    transform: translate(0, 50%)
  }
}

@media(max-width: 490px) {
  .whom__title-2 {
    margin: 0 0 22px;
  }

  .whom__item {
    display: flex;
    min-height: 264px;
  }

  .whom__title-3 {
    margin: 0 0 15px;
  }

  .whom__item:nth-child(1) .whom__item-text-1,
  .whom__item:nth-child(2) .whom__item-text-1,
  .whom__item:nth-child(3) .whom__item-text-1 {
    width: auto;
  }

  .whom__item-text-2 {
    margin: auto 0 0;
  }

  .whom__item:nth-child(1) .whom__item-text-2,
  .whom__item:nth-child(3) .whom__item-text-2 {
    width: 60%;
  }

  .whom__item:nth-child(2) .whom__item-text-2 {
    width: 65%;
  }

  .whom__item-img {
    right: 0;
    bottom: 0;
    transform: translate(0, 0)
  }
}

/* advantages */

.advantages {
  padding: 48px 0 56px;
  background: var(--color-1);
}

.advantages__wrapper {
  display: flex;
  align-items: end;
  gap: 10%;
  margin: 0 0 30px;
}

.advantages__wrapper-1 {
  width: 41%;
}

.advantages__title-2 {
  margin: 0 0 24px;
}

.advantages__advantages-list {
  width: 49%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 22px;
  margin: 0 0 -5px;
  padding: 0;
  list-style: none;
}

.advantages__advantage-num {
  font-family: var(--font-1);
  font-size: 48px;
  font-weight: 700;
  line-height: 55.5px;
  color: var(--color-4);
}

.advantages__advantage-text {
  margin: 0;
  font-family: var(--font-2);
  font-size: 20px;
  font-weight: 400;
  line-height: 37px;
  color: var(--color-4);
}

.advantages__advantage:nth-child(2),
.advantages__advantage:nth-child(4) {
  padding: 0 0 0 10px;
}

@media(max-width: 768px) {
  .advantages {
    padding: 48px 0 63px;
  }

  .advantages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .advantages__wrapper {
    display: block;
    margin: 0 0 54px;
  }

  .advantages__wrapper-1 {
    width: 100%;
  }

  .advantages__text-1 {
    margin: 0 0 32px;
  }

  .advantages__advantages-list {
    width: 100%;
  }
}

@media(max-width: 490px) {
  .advantages {
    padding: 28px 0 48px;
  }

  .advantages__wrapper {
    margin: 0 0 45px;
  }

  .advantages__title-2 {
    margin: 0 0 12px;
  }

  .advantages__text-1 {
    margin: 0 0 20px;
  }

  .advantages__advantages-list {
    grid-row-gap: 18px;
  }

  .advantages__advantage-num {
    font-size: 40px;
  }

  .advantages__advantage-text {
    font-size: 14px;
    line-height: 15px;
  }

  .advantages__button-1 {
    width: 100%;
    padding: 16px 10px;
  }
}
